#title{
    text-align: center;
    font-size: 1.2em;
}

#tribute-info{
    margin-left: 40%;
}

#img-caption{
    text-align: center;
}

#image {
    margin-left: 10%;
    height: 80hv;
}

h3, h2{
    text-align: center;
}

p{
    text-align: center;
}